h1 {
    /* color: red; */
    color: rgba(17, 125, 120, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    // font-family: "mak" !important;
}

.body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 2rem;
    padding-inline: 10em;
}

