* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.body {
    background-color: @gray;
    background-image: url(../assets/images/noise.png);
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: @black;

}

.show-event-popup {
  body {
    overflow: hidden;
  }

  #js-eventPP {
    display: flex;
  }
}

.x-btn {
  &__icon {
    pointer-events: none;
  }
}

main {
    flex: 1;
    padding-bottom: 2rem;
    padding-inline: 10em;

    @media @bw1340 {
        padding-inline: 5em;
    }

    @media @bw1020 {
        padding-inline: 3em;
    }

    @media @bw768 {
        padding-inline: 2em;
    }

    @media @bw600 {
        padding-inline: 1em;
    }
}

input,
textarea,
select {
    box-shadow: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

textarea {
    resize: none;
}

.check {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 24px;
    padding-top: 2px;
    padding-left: 24px;
    color: @black;
    cursor: pointer;

    &__input {
        .is-hidden();
    }

    &__mark {
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border: 1px solid @black;

        @media @bw600 {
            width: 20px;
            height: 20px;
        }
    }

    &__input {
        .is-hidden();

        &:checked {
            &~.check__mark {
                background-color: @black;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 7px;
                    top: 2px;
                    width: 6px;
                    height: 12px;
                    border-bottom: 2px solid @white;
                    border-right: 2px solid @white;
                    transform: rotate(45deg);

                    @media @bw600 {
                        left: 5px;
                        top: 0;
                        width: 5px;
                        height: 10px;
                    }
                }
            }
        }
    }

    &__label {
        margin-left: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        &--s {
            font-size: 14px;
            line-height: 19px;
        }

        @media @bw600 {
            margin-left: 10px;
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.arrow {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 92px;
  height: 60px;
  padding: 0;
  border: none;
  background: none;
  color: @black;
  font-size: 0;
  text-decoration: none;
  transition: color 0.2s;
  @media @bw1340 {
    width: 67px;
    height: 40px;
  }
  &:hover {
    color: @red;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}

.show-nav {
  body {
    @media @bw1020 {
      overflow: hidden;
    }
  }

  .page-header__nav {
    @media @bw1020 {
      transform: translateX(0);
    }
  }

  .page-header__nav-toggle {
    &::before {
      transform: translate(0px, 6px) rotate(45deg);
      box-shadow: none;
    }
    &::after {
      transform: translate(0px, -6px) rotate(-45deg);
    }
  }
}