.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas:
        "checks scheme"
        "order legend";
    width: 100%;
}

.reserve__checks {
    grid-area: checks;
}

.reserve__order {
    grid-area: order;
}

.reserve__scheme {
    grid-area: scheme;
}

.reserve__scheme {
    grid-area: scheme;
}

.reserve>div {
    box-sizing: border-box;
    padding: 10px;
    margin-inline: 1em;
    border-radius: 1em;
    color: white;
    font-size: large;
    background: linear-gradient(90deg, rgba(17, 125, 120, 1) 0%, rgba(173, 224, 177, 1) 100%);
    ;
    text-align: center;
}